# python compiled code
*.pyc
__pycache__

# ipython
.ipynb_checkpoints
.ipynb

# db
db.sqlite3

# Mac
Icon?
.DS_Store

# Windows
desktop.ini

.idea
logs

# contents for server
contents

# param for model
naSearch/data/
hannanum_Fasttext.model.trainables.vectors_ngrams_lockf.npy
*.model
*.npy

# data
*.csv
*.zip
