{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">{{ bill.0 }}</h1>
        <p class="mb-4"> {{ bill.1 }} {{ bill.2 }} </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">의안 세부정보</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    이쁘게 꾸미자 ! 사랑해요 BIS lab !
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">의안 / 회의록 내용</h6>
            </div>
            <div class="card-group">
                <div style="overflow:auto; height:800px" class="card">
                    <div id="bill_content">
                        의안
                    </div>
                    <div class="card-body">
                        {{ bill.3 }}
                    </div>
                </div>
                <div style="overflow:auto; height:800px" class="card">
                    <div id="confer_content">
                        회의록
                    </div>
                    <div class="card-body">
                        내용
                        {% for con in conf %}
                            <td>{{ con }}</td>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}