/* .class_name, #id_name, tag_name,  */
.nalogo{
    text-align: center;
    display: block;
    margin-block-start: 10em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#nalogo-navbar {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
#search-navbar {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.search {
    position: relative;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
input {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 10px 12px;
    font-family: fontAwesome;
}
.navigation-bar #grid {
    /* border:5px solid pink; */
    border-bottom: solid;
    display:grid;
    grid-template-columns: 150px 1fr;
}
.card #bill_content #confer_content {  /* 이거왜 안먹힐까 ㅜㅜ */
    text-align: center;
    font-weight: bold;
}
