{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!-- Navigation Bar -->
<nav class='navigation-bar'>
    <div id="grid">
        <div id="nalogo-navbar">
            <a class="logo" href="{% url 'naSearch:main' %}">
                <img src="https://www.assembly.go.kr/resources/web/assm/images/img/img_assemblyMark_02.gif"
                    alt="NationalAssemblyLogo"
                    srcset="https://www.assembly.go.kr/resources/web/assm/images/img/img_assemblyMark_02.gif 2x">
            </a>
            <div>AssemForU</div>
        </div>

        <div id="search-navbar">
            <form class="search" method="get" action="{% url 'naSearch:index' %}">
                <input type="text" id="query" name="query" placeholder="&#xf002;  검색어를 입력하세요. 비트코인을 입력해보세요."value="{{ kw|default_if_none:'' }}">
            </form>
        </div>
    </div>
</nav>